<div class="wrapper">
   
    <div class="top">
      <div class="wrapper-inner">
        <div class="box-inner" *ngFor="let letter of letters">{{ letter }}</div>
      </div>
    </div>
   
    <div 
      class="box" 
      *ngFor="let box of boxes; let i = index"   
      
      [id]="generateId(i)">  
 
        {{  chessBoard[getRow(i)][getColumn(i)] }}
   
    
      
    </div>
 
    <div class="bottom">
      <div class="wrapper-inner">
        <div class="box-inner" *ngFor="let letter of letters">{{ letter }}</div>
      </div>
    </div>
  </div>
  